@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    background-image: /*linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),*/
    url(../imagens/ft-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
}

header{
    position: static;
    padding: 50px;
    width: 100%;
    color: white;
    z-index: 10;
}


nav ul{
    display: flex;
    list-style: none;
    padding-right: 100px;
    gap: 90px;
}

nav ul li{
    font-size: 1.1em;
    font-weight: 600;
}

nav h3{
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.263);

}

nav ul li a{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    transition: ease 1s;
}
nav ul li a:hover{
    background-color: white;
    border-radius: 30px;
    transition: 0;
    padding: 10px 20px;
    border: 1px solid black;
    color: black;
}

#Inicio{
    width: 100vw;
    min-height: 100vh;
    padding-left: 150px;
    display: flex;
    align-items: center;
    margin-top: -50px;
}

#Inicio a{
    text-decoration: none;
    text-align: center;
    
}


.Int{
    color: lightgray;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    line-height: 2em;
}
.Int h3{
    margin-left: 40px;
    font-size: 2em;
}

#btn-cv{
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 1em;
    font-weight: 500;

    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;

    cursor: pointer;
    width: 200px;

    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

#btn-cv:hover{
    background-color: white;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255,255,255,0.6);
}

.aparecer {
  opacity: 0;
  transform: translateX(-40px);
  animation: entrar 0.8s ease both;
}

@keyframes entrar {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#skills{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
}

#skills h3{
    margin-top: 100px;
    font-size: 1.4em;
    color: white;
    padding-top: 60px;
    margin-bottom: 60px;
}

.fa-brandss{
    border: 1px solid rgb(255, 254, 254);
    padding: 150px;
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.634);
    margin: 30px;
    transition: ease 2s;
}

.fa-solid{
    border: 1px solid rgb(255, 255, 255);
    padding: 150px;
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.634);
    margin: 30px;
    transition: ease 2s;
}

.html{
    display: none;
}

.fa-brandss:hover,.fa-solid:hover,.html:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.7s;
    cursor: pointer;
    transform: scale(1.1);
    display: block;
}

#projetos{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projetos h3{
    color: white;
    font-size: 1.7em;
    padding-top: 100px;
    margin-bottom: 30px;
}

.projeto-card{
    border: 1px solid white;
    min-width: 400px;
    max-width: 400px;
    max-height: 300px;
    min-height: 300px;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 1s;
}
.container-projetos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projeto-card{
    background-color: rgba(255, 255, 255, 0.147);
    border-radius: 10px;
    display:flex;
    text-align: center;
    min-width: 500px;
    height: 300px;
    padding: 100px;
}

#contato{
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contato p{
    margin-bottom: 50px;
}
#contato a{
    text-decoration: none;
    color: white;
}
.container-contato{
    display: flex;
    flex-direction: row;
    background-color: black;
}


.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    border: 1px solid rgb(195, 7, 224);
    width: 300px;
    height:500px;
    margin: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.123);
    
}

.item-container i{
    font-size: 4em;
    color: purple;
    transition: ease 0.5s;
}

#link{
    color: rgba(47, 47, 255, 0.762);
}
#link:hover{
    color: blue;
}
#int{
    color: #E1306C;
}
#int:hover{
    color: #f0135d;
}
#git{
    color: white;
}
#Whats{
    color: rgb(0, 239, 0);
}


.item-container:hover{
    background-color: rgba(255, 255, 255, 0.422);
    color: black;
    transform: translateX(15px);
    cursor: pointer;
    border-color: white;
}
