@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    background-image: /*linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),*/
    url(../imagens/ft-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    position: static;
    padding: 50px;
    width: 100%;
    color: white;
    z-index: 10;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 100px;
    gap: 90px;
    margin-left: 30px;
}

nav ul li{
    font-size: 1.1em;
    font-weight: 400;
    margin-right: -50px;
}

nav h3{
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.263);

}

nav ul li a{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    transition: ease 1s;
}
nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 0;
    padding: 10px 20px;
    border: 1px solid rgb(108, 0, 239);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(127, 4, 249, 0.6);
}

#Inicio{
    width: 100vw;
    min-height: 100vh;
    padding-left: 150px;
    display: flex;
    align-items: center;
    margin-top: -50px;
}

#Inicio a{
    text-decoration: none;
    text-align: center;
    
}

#Inicio p{
    color: lightgray;
    font-size: 1.2em;
    font-weight: 300;
}


.Int{
    color: lightgray;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    line-height: 2em;
}
.Int h3{
    display: none;
    margin-left: 150px;
    font-size: 1.7em;
}

.div-btn-cv{
    margin-top: 15px;
}

.btn-cv{
    padding: 12px 25px;
    font-size: 0.8em;
    font-weight: 500;

    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    width: 200px;
    transition: ease 0.5s;

}

.btn-cv:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(127, 4, 249, 0.6);
}

.aparecer {
  opacity: 0;
  transform: translateX(-40px);
  animation: entrar 0.8s ease both;
}

@keyframes entrar {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#skills{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#skills h3{
    text-align: center;
    margin: 100px;
}

.container-skills{
    display: flex;
    justify-content: center;

}
.item-container-skills{
    width: 30vw;
    height: 50vh;
    margin: 20px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);



}

.item-container-skills h4{
    text-align: center;
    margin-top: 15px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.348);
}
.item-container-skills ul{
    list-style: none;
    margin-top: 30px;
    padding-left: 40px;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    
}

.item-container-skills ul li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.html1{
    background: linear-gradient(90deg, #ff6b6b, #ff8e53);
    box-shadow: 0 0 10px rgba(255, 107, 107, 0.596);
    width: 24vw;
    border-radius: 5px;
    padding: 5px;
}
.html1:hover{
    background: linear-gradient(90deg, #ff8e53, #ff6b6b);
    box-shadow: 0 0 10px rgba(249, 95, 95, 0.596);
}
.css{
    background: linear-gradient(90deg, blue, rgb(19, 188, 255));
    box-shadow: 0 0 10px rgba(19, 188, 255, 0.359);
    width: 24vw;
    border-radius: 5px;
    padding: 5px;
}
.css:hover{
    background: linear-gradient(90deg, rgb(19, 188, 255), blue);
    box-shadow: 0 0 10px rgba(19, 188, 255, 0.722);
}
.js{
    background: linear-gradient(110deg, black, rgba(255, 255, 0, 0.896));
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.286);
    width: 24vw;
    border-radius: 5px;
    padding: 5px;
}
.js:hover{
     background: linear-gradient(110deg, rgba(255, 255, 0, 0.896), black);
     box-shadow: 0 0 10px rgba(255, 255, 0, 0.386);
}
.java{
    background: linear-gradient(135deg, #f89820, #8b0000);
    box-shadow: 0 0 10px #8b00009a;
    width: 24vw;
    border-radius: 5px;
    padding: 5px;
}
.java:hover{
    background: linear-gradient(110deg,#8b0000, #f89820);
    box-shadow: 0 0 10px #8b0000b1;
}


.logica{
    background: linear-gradient(135deg,#7c3aed,#3b82f6);
    box-shadow: 0 0 10px #7c3aed53;
    width: 24vw;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
}

.logica:hover{
  background: linear-gradient(135deg, #3b82f6, #7c3aed);
  box-shadow: 0 0 10px #3b83f665;

    
}
.postgree{
    background: linear-gradient(135deg, #336791, #1f3b57);
    box-shadow: 0 0 10px #1f3b575d;
    width: 24vw;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
}
.postgree:hover{
    background: linear-gradient(135deg, #1f3b57, #336791);
    box-shadow: 0 0 10px #1f3b5781;
}
.mysql{
    background: linear-gradient(135deg, #00758f, #f29111);
    box-shadow: 0 0 10px #00758f65;
    width: 24vw;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
}

.mysql:hover{
     background: linear-gradient(135deg, #f29111,#00758f);
     box-shadow: 0 0 10px #00758f7b;
}


.item-container-skills ul li p{
    text-align: right;
    width: fit-content;
}

.percent {
    margin-left: auto; 
    padding-right: 10px;
    font-size: 1.2em;
}

.fa-html5{
    color: orangered;
    font-size: 1.3em;
    
}
.fa-css3-alt{
    color: rgb(21, 122, 255);
    font-size: 1.3em;
}
.fa-js{
    color: yellow;
    font-size: 1.3em;
}
.fa-java{
    font-size: 1.3em;
}
.fa-brain{
    color: lightsalmon;
    font-size: 1.3em;
}
.fa-database{
    color: lightgrey;
    font-size: 1.3em;
}
/*===========================Projetos==========================*/

#projetos{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projetos h3{
    color: white;
    font-size: 1.7em;
    padding-top: 100px;
    margin-bottom: 30px;
}

.projeto-card{
    border: 1px solid white;
    min-width: 400px;
    max-width: 400px;
    max-height: 300px;
    min-height: 300px;
    margin: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 1s;
}

.projeto-card h4{
    margin-top: -40px;
    margin-bottom: 20px;


}
.container-projetos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projeto-card a {
    color: purple;
}

.projeto-card{
    border-radius: 10px;
    display:flex;
    text-align: center;
    min-width: 500px;
    height: 300px;
    padding: 100px;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px); 

    border: 1px solid rgb(195, 7, 224);
    box-shadow: 0 0px 10px rgba(97, 5, 162, 0.218);
    transition:ease-in 0.7s;
}
.projeto-card:hover{
    background-color: rgba(255, 255, 255, 0.422);
    color: black;
    transform: translateY(-10px);
    cursor: pointer;
    border: 1px solid rgba(195, 7, 224, 0.616);
    box-shadow: 0 4px 30px rgba(97, 5, 162, 0.4);
}
#contato{
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contato p{
    margin-bottom: 50px;
}
#contato a{
    text-decoration: none;
    color: white;
}
.container-contato{
    display: flex;
    flex-direction: row;
    background-color: black;
}


.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    border: 1px solid rgba(195, 7, 224, 0.222);
    width: 250px;
    height:500px;
    margin: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05); 
    box-shadow: 0 4px 30px rgba(97, 5, 162, 0.099);
    
}

.item-container i{
    font-size: 4em;
    color: purple;
    transition: ease 0.5s;
}

#link{
    color: rgba(47, 47, 255, 0.762);
}
#link:hover{
    color: blue;
}
#int{
    color: #E1306C;
}
#int:hover{
    color: #f0135d;
}
#git{
    color: white;
}
#Whats{
    color: rgb(0, 239, 0);
}


.item-container:hover{
    background-color: rgba(255, 255, 255, 0.422);
    color: black;
    transform: translateX(15px);
    cursor: pointer;
    border: 1px solid rgb(195, 7, 224);
    box-shadow: 0 4px 30px rgba(97, 5, 162, 0.4);
}

footer p{
    text-align: center;
    font-size: 0.9em;
    background-color: rgba(76, 0, 130, 0.323);
    padding: 10px;
    color: white;
}
